*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    text-decoration: none ;
}
body{
    height: 100vh;
    width: 100%;
    background: url(../img/category-bg.jpg) center/cover;
    /* background-repeat: no-repeat; */
    text-align: center;
    color: #fff;
}
header{
    padding: 30px;
}
ul{
    list-style: none;
}
ul li{
    margin-top: 20px;
    display: inline-block;
    font:bold 1.2em Arial Sans-serif;
}
ul li a{
    margin: 0 10px;
    color:#fff;
}
.card{
    display: inline-block;
    box-shadow: 5px 1px 10px 8px rgb(33, 25, 25);
    border-radius: 10px;
    overflow: hidden;
    background-color: rgb(23, 23, 23);
    opacity: .9;

}
.card:hover{
    box-shadow: 5px 1px 10px 8px rgb(178, 113, 113);
}
.card img{
    width: 350px;   
    padding: 5px; 
    border-radius: 10px;
}
.card a{
    display: block;
    font: bold 1.4em arial;
    padding: 10px;
}
.card h4{
    font-size: 2em ;
    color: blue;
}
footer p{
    margin-top: 100px;
 }
 .beatiful{
    background: url(../img/beauty-bg.jpg) center/cover;
 }
 .windovs{
    background: url(../img/windows-bg.jpg) center/cover;
 }
@media only screen and (min-width: 768px) {
    #ul {
        margin-top: 10px;
        float: right;
        display: inline-block; }
    ul li {
        display: inline-block;
        border: none;
        margin: 0 10px;}
        .card{
            margin: 100px 20px;
        }
    footer p{
        font-size: 1.6em;
        margin-top: 200px;
    }
    }